main {
    width: 100%;
    /* height: 90vh; */
    background-color:rgb(240, 240, 240);
    padding-top: 75px;
    box-sizing: inherit;
    transition: .5s;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.card {
    margin: 30px 0;
    padding: 0 15px 10px 15px;
    border-radius: 5px;
    transition: .5s;
}

.card-head {
    top: -15px;
    width: 100%;
    max-height: 185px;
    padding: 25px;
    position: relative;
    background-color:rgb(200, 200, 200);
    border-radius: 5px;
    line-height:1;
}
.card-head.sm {
    max-height:90px;
    width:auto;
    padding:28px;
    border-radius:5px;
    justify-content:center;
    align-items:center;
}
.card-body {
    padding: 15px 0 0 8px;
}
.card-body h4 {
    color: #666;
}
.card-body p {
    color: #888;
    font-size: 14px;
}
.divider {
    border: thin solid #eee;
    margin: 8px 0 4px 0;
    opacity: 1;
}
.action {
    display: flex;
    padding: 10px 8px 0 8px;
    color: #888;
    font-size: 12px;
    align-items: center;
}
.action i {
    font-size: 16px;
    margin-right: 4px;
}

.good {
    color:#4caf50;
}
.bad {
    color: darkred;
}

.table {
    margin-bottom: 0;
    padding: 0 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
table {
    width: 100%;
}
th, td{
    height: 48px;
    border-bottom: thin solid rgb(216, 216, 216);
    color: rgb(90, 90, 90);
    text-align: end;
}
th {
    padding: 0 8px;
    font-size: 16px;
}
td {
    padding: 0 16px;
    font-size: 14px;
}
.table-footer {
    justify-content:flex-end;
    align-items:center;
    font-size:14px;
    color:#5a5a5a;
    
}

.rpp-select-menu{
    max-height: 304px;
    min-width: 45px;
    z-index: 8;
    background-color: #fff;
    width: auto;

    position: absolute;
    display: inline-block;
    border-radius: 5px;

    overflow-x: auto;
    overflow-y: hidden;
    transition: .3s;

    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}
.rpp-select-menu .rpp-list {
    padding: 5px 0;
}
.rpp-select-menu .rpp-list .rpp-select-btn{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.rpp-select-menu .rpp-list .rpp-select-btn:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.rpp-select-btn.selected {
    color:#349137;
    background-color:rgba(0, 128, 0, 0.1);
}
.task-list{
    display: flex;
    width:100%;
    height:48px;
    overflow: hidden;
    position: relative;
}
.task-header {
    user-select: none;
    display: flex;;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 0 0 12px;
    align-items: center;
    color: rgba(255,255,255, .55);
    font-weight: bold;
    transition: .3s;
}
.task-header:hover{
    background-color: rgba(255,255,255,.05);
}
.task-header.active{
    color: rgba(255,255,255, 1);
}
.task-header.active:hover{
    background-color: rgba(255,255,255,.25);
}
.ripple3{
    overflow:hidden;
    position: relative;
}
.ripple3:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
}
.ripple3:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.task-header i{
    font-size: 20px;
    margin-right: 5px;
}

.task-tab {
    height: 2px;
    position: absolute;
    transition: .3s;
    bottom: 0;
}

.task-checkbox {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.task-checkbox i{
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#9c27b0;
}
.task-checkbox i.unchecked{
    color: gray;
}

.task-checkbox input{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.task-checkbox .selection-area{
    position: absolute;
    left: -5px;
    top: -5px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    color: #9c27b0;
    border-radius: 50%;
    transform: scale(1.2);
    background-color: rgba(156, 39, 176,0);
    transition: .2s;
}
.task-checkbox .selection-area.unchecked{
    color: #4caf50;
    background-color: rgba(76, 175, 80, 0);
}

.task-checkbox .selection-area:active{
    background-color: rgba(156, 39, 176, .4);
}
.task-checkbox .selection-area.unchecked:active{
    background-color: rgba(76, 175, 80, .4);
}

.task-checkbox .selection-area::before{
    content: "";
    opacity: 0;
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #9c27b0;
}
.task-checkbox .selection-area.unchecked::before {
    background-color: #4caf50;
}

.task-checkbox .selection-area:hover::before{
    opacity: .3;
}

.icon {
    line-height: 1;
    font-size: 20px;
}
.task-content .icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto 4px;
}