/* Default */
.ct-square {
    width: 100%;
    max-height: 150px;
    position: relative;
    overflow: hidden;
}
.ct-square::before {
    content: "";
    max-height: 150px;
    padding-bottom: 100%;
    width: 0;
    height: 0;
    display: block;
    float: none;
}
.ct-square svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-3%);
}
.ct-axis {
    stroke:black;
    stroke-width: 1px;
    stroke-dasharray: 2px;
}
.ct-axis-base {
    stroke-dasharray: 0px;
}
.ct-tags {
    font-size: 16px;
    font-weight: bold;
}
.ct-x-tag span{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    font-weight: 300;
    font-size: 10px;
}
  .ct-y-tag span{
    display:flex;
    flex-direction:column;
    align-items:end;
    justify-content:flex-end;
    width:100%;
    height:100%;
    font-size: 10px;
    overflow: hidden;
}
.ct-bar {
    stroke:rgba(139, 0, 0, .75);
    stroke-width: 10px;
}
.ct-circle {
    stroke: green;
    fill: green;
}
.ct-path {
    stroke: green;
    stroke-width: 3px;
    fill: none;
}